@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

nav{
    font-family: 'Asap', serif;
    font-weight:900;
}

h1,h2,h3,h4{
    
    font-family: 'Asap', serif;
    font-weight:900;
}

#heroScreen{
    font-family: 'Asap', serif;
    padding:0;
    margin:0;
    font-size:15px;
}

.list-group-item{
    padding-left:0;
    margin-left:0;
}

.img-details1{
    transition: all 0.15s linear;
    position: relative;
    filter: brightness(80%);
    border-radius:5px;
}

.btnReturn{
    
    padding-left:0;
    padding-right:0;
    margin:0;
}

.btnReturn button{
    font-family: 'Asap', serif;
    font-weight:700;
    font-size:15px;
}

.btnReturn button:hover,
.btnSearch:hover{
    transition: .6s ease-in-out;
}

.divBtnSearch{
    padding-left:0;
    padding-right:0;
    margin:0;
    margin-top:15px;
}

.btnSearch{
    font-family: 'Asap', serif;
    font-weight:700;
    font-size:15px;
    padding-left:0;
    padding-right:0;
    margin:0 !important;
}


#btnLog{
    font-size:14px;
    font-weight:700;
}


.mh8{
    min-height: 89px;
    line-height: 52px;
}